<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">
<title>MVP</title>

<h1>DIDPal Wallet</h1>

<form method="POST">

    <div class="section">
        <h3>Credentials</h3>

        <h5>FSP requests {{ ', '.join(attrs) }}</h5>

        {% for dtype in dtypes %}
        <div class="token" style="background-color:lightcyan">
            <input type="checkbox" name="token" value="{{ dtype }}">
            <label>{{ dtype }}</label>
        </div><br>
        {% endfor %}
    </div><br>

    <div class="section">
        <h5>Please review before submitting</h5>
        <br>
        <input type="submit">
    </div><br>

</form>