<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">
<title>DIDPal Partners</title>

<body>
    <h1>
        <img src="{{ url_for('static', filename = 'pp-logo-white.png') }}" height="33px">
        Partners
    </h1>

    <div class="section" style="display:flex">
        <img src="{{ url_for('static', filename = 'partners/'+notif['fsp']+'.png') }}" width="44%">
        {{ notif['fsp'] }} requires {{ notif['old'] + notif['new'] }}
    </div><br>

    <form method="POST">
        <div class="section">
            <h3>Credentials</h3>
            <h5>{{ notif['fsp'] }} requests input for {{ notif['new'] }}</h5>
            
            {% for dtype in notif['new'] %}
            <input type="text" name="info">
            <label>{{ dtype }}</label><br>
            {% endfor %}
            <br>
        </div><br>

        <div class="section">
            <h5>Please review before submitting</h5>
            <br>
            <input type="submit">
        </div><br>
    </form>
</body>