<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">
<title>MVP</title>

<div class="screen">
    <h1>Verify with PayPal</h1>

    <img src="static/pp.png" width=44%>

    <form method="POST">
        <h3>Create Account With</h3>

        <label>Search</label>
        <input type="text" name="partner" />
        <br><br>

        <div style="overflow-y: scroll; height: 44%;">    
            {% for partner in dir_list %}
            <input type="image" width="49%" name="{{ fsp }}" 
            src="static/partners/{{ partner }}">
            {% endfor %}
        </div>
        
    </form>
</div>