<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='paypal.css') }}">
<title>MVP</title>

<div class="screen">
    <h1>Verify with PayPal</h1>

    <img src="static/pp.png" width=44%>

    <form method="POST">
        <h3>Create Account With</h3>

        <div style="overflow-y: scroll; height: 49%;">
            {% for partner in partners %}
            <label>
                <input type="radio" name="partner" value="{{ partner }}" checked>
                <img src="static/partners/{{ partner }}.png" width=44%>
            </label>
            {% endfor %}
        </div>

        <input type="submit">
        
    </form>
</div>