<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sdk.css') }}">
<title>MVP</title>

<script>
function myFunction() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
}
</script>

<header>FSP NAME</header>
<h1>Connect</h1>
<label>
    Scan the QR code or copy the invitation to your phone to form a connection with this FSP. Once the connection is established, the service will allow you to use verifiable credentials.
</label>

<div style="display:flex">

    <img src="{{ url_for('static', filename='qrcode.png') }}" width="22%">    

    <div>
        <br><br>
        <textarea id="myInput" rows="11" cols="99">{{ inv }}</textarea>
        <br><br>

        <button onclick="myFunction()">Copy Invitation</button>
    </div>

</div>